.column {
  float: left;
  width: 50%;
  max-width: 250px;
  padding-left: 20px;
}
/* Clear floats after the columns */
.row:after {
  padding-top: 15px;
  content: "";
  display: table;
  clear: both;
}
.middle {    
  padding-left: 25%;
  float: left;
}
.random_pic_background::before {
    content: "";
    background: url("https://picsum.photos/800/700");
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    width:800px;
}